<table class="zui-table">
  <thead>
    <th colspan="6">LATEST ORDERS</th>
  </thead>
  <tbody>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Aleksa01</td>
      <td>$540</td>
      <td>Not Paid</td>
      <td>12:07</td>
      <td>Not Delivered</td>
      <td>View</td>
    </tr>
  </tbody>
</table>